In [19]:
import pandas as pd
import requests

In [20]:
# Definir o nome do pokemon
base = {
    'name' : [],
    'id' : [],
}

In [21]:
#Inicio com um função para fazer a requisão na API
def info (qtd):
    lista = []
    for i in range(1,qtd +1):
        response = requests.get(f"https://pokeapi.co/api/v2/pokemon/{i}")
        if response.status_code == 200:  #Definido código 200 saber o status da API
            res = response.json()
            lista.append({'name_poke': res['name'], 'id_poke': res['id']})
        else:
            print('Erro')
    return lista

lista = info(10)

In [38]:
def area (qtd):
    lista_area = []
    for i in range(1,qtd+1):
        response_location = requests.get(f"https://pokeapi.co/api/v2/pokemon/{i}/encounters")
        if response_location.status_code == 200:  #Definido código 200 saber o status da API
            res_location = response_location.json()
            if res_location:  # Verifica se a lista não está vazia
                lista_area.append(res_location[0]['location_area']['name'])
            else:
                lista_area.append('Vazio')
        else:
            print('Erro')
    return lista_area

lista_area = area(10)

In [47]:
base = pd.DataFrame(lista)
base['area'] = lista_area

In [49]:
base

    name_poke  id_poke                 area
0   bulbasaur        1   cerulean-city-area
1     ivysaur        2                Vazio
2    venusaur        3                Vazio
3  charmander        4     pallet-town-area
4  charmeleon        5                Vazio
5   charizard        6                Vazio
6    squirtle        7  vermilion-city-area
7   wartortle        8                Vazio
8   blastoise        9                Vazio
9    caterpie       10   eterna-forest-area

In [165]:
base.to_csv('pokeAPI.csv', index = False)